@font-face {
    font-family: 'Museo700';
    src: url('../fonts/museo700-regular-webfont.eot');
    src: url('../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo700-regular-webfont.woff') format('woff'),
         url('../fonts/museo700-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo700-regular-webfont.svg#Museo700') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo500';
    src: url('../fonts/museo500-regular-webfont.eot');
    src: url('../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo500-regular-webfont.woff') format('woff'),
         url('../fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo500-regular-webfont.svg#Museo500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo300';
    src: url('../fonts/museo300-regular-webfont.eot');
    src: url('../fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo300-regular-webfont.woff') format('woff'),
         url('../fonts/museo300-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo300-regular-webfont.svg#Museo300') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
		background:#666;
		margin:0;
		padding:0;
		font:10pt Helvetica,Arial, sans-serif;
	}
	
	#container{
		width:900px;
		margin:0 auto;
		background:#ccc;
	}
	
	#header{
		height:125px;
		background:#06f;
		position:relative;
	}
	
	#middle{
		padding:20px 50px;
	}
	
	h1{
		color:#fff;
		font:20pt 'Museo700',Helvetica,sans-serif;
		top:40px;
		left:50px;
		margin:0;
		position:absolute;
	}
	
	h2{
		font:14pt 'Museo500',Helvetica,sans-serif;
	}
	
	h3{
		font:12pt 'Museo300',Helvetica,sans-serif;
	}
	
	.paper{
		background:#999;
		width:800px;
		padding:20px 0;
		text-align:center;
		position:relative;
	}
	
	img,canvas{
		margin:auto;
	}
	
	hr{
		margin:40px 20px;
		border:none;
		height:1px;
		background:#666;
	}

